body{
    background: lightgoldenrodyellow;
    font-family: Arial;
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
    color: lightcoral;
}

a:hover {
    color: lightskyblue;
}

#myChart {
    margin: 40px auto;
    height: 300px !important;
}